# Specifies intentionally untracked files to ignore

.*
!/.gitignore

notebooks/models/
notebooks/old/
notebooks/_old/
notebooks/output_*
notebooks/notebook.tex
notebooks/FloydFiles/
notebooks/nb_utils/

scripts/models/
scripts/old/
scripts/_old/
scripts/training.log
scripts/accuracy_output.txt
oldLogs/

dataset.npy
__pycache__/
