# Specifies intentionally untracked files to ignore

.*
!/.gitignore

notebooks/models/
notebooks/FloydFiles/
scripts/models/
scripts/training.log
scripts/accuracy_output.txt
oldLogs/

dataset.npy
__pycache__/
